@import 'icomoon/style.css';
@import 'utlitites/reset';
@import 'utlitites/variables';
@import 'utlitites/mq';
@import 'utlitites/animations';
@import 'utlitites/utility';
@import 'utlitites/forms';
@import 'utlitites/transitions';
@import 'partials/landing';
@import 'partials/movies';
@import 'partials/nav';

body {
    background-color: var(--near-white);
    font-size: 1.2vw;
    font-family: var(--primary-font);
}
