@import 'icomoon/style.css';
@import 'partials/reset';
@import 'partials/variables';
@import 'partials/mq';
@import 'partials/animations';
@import 'partials/utility';
@import 'partials/forms';
@import 'partials/transitions';
@import 'landing';

body {
    background-color: var(--near-white);
    font-size: 2.5vw;
    font-family: var(--primary-font);
}
