@import 'icomoon/style.css';
@import 'utlitites/reset';
@import 'utlitites/variables';
@import 'utlitites/mq';
@import 'utlitites/animations';
@import 'utlitites/utility';
@import 'utlitites/forms';
@import 'utlitites/transitions';
@import 'partials/landing';
@import 'partials/movies';
@import 'partials/nav';

:root {
    font-size: 1vw;

    @include mobile {
        font-size: 3.5vw;
    }
}

body {
    background-color: var(--near-white);
    font-family: var(--primary-font);
}


.alert {
    font-size: 1.2rem;
    padding: 1rem;
    background-color: tomato;
    margin: 1rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
    font-family: var(--secondary-font);
}

.alert-success {
    background-color: tomato;
}
