@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?mjf324');
  src:  url('/fonts/icomoon.eot?mjf324#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.woff2?mjf324') format('woff2'),
    url('/fonts/icomoon.ttf?mjf324') format('truetype'),
    url('/fonts/icomoon.woff?mjf324') format('woff'),
    url('/fonts/icomoon.svg?mjf324#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\E90B";
}
.icon-recent:before {
  content: "\E909";
}
.icon-home:before {
  content: "\E90A";
}
.icon-year:before {
  content: "\E907";
}
.icon-show:before {
  content: "\E905";
}
.icon-user:before {
  content: "\E906";
}
.icon-search:before {
  content: "\E904";
}
.icon-star:before {
  content: "\E903";
}
.icon-link:before {
  content: "\E902";
}
.icon-x:before {
  content: "\E908";
}
.icon-right:before {
  content: "\E901";
}
.icon-left:before {
  content: "\E900";
}
/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Set core body defaults */

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

[type=text],
select,
[type=submit],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:root {
  --dark-text: #282828;
  --near-white: rgb(251,251,251);
  --light-text: #d4d4d4;
  --light-grey: #767676;
  --mid-grey: #272727;
  --dark-grey: #0e0e0e;
  --primary-color: tomato;
  --primary-font: "Droid Serif", helvetica, arial, sans-serif;
  --secondary-font: "Oswald", impact, arial, sans-serif;
  --accent-font: "Teko", helvetica, sans-serif;
  --success-color: #38b383;
  --gold: #ffec02;
  --highlight-color: #FFA700;
  --dark-color: #333333;
  --off-white: #ADADAD;
}

/* CSS Document */

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(43, 43, 43, 0.3);
  }

  100% {
    box-shadow: 0 0 0 25px rgba(43, 43, 43, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(43, 43, 43, 0.3);
  }

  100% {
    box-shadow: 0 0 0 25px rgba(43, 43, 43, 0);
  }
}

@-webkit-keyframes flash {
  0% {
    background-color: var(--primary-color);
  }

  20% {
    background-color: #FF6;
  }

  100% {
    background-color: var(--primary-color);
  }
}

@keyframes flash {
  0% {
    background-color: var(--primary-color);
  }

  20% {
    background-color: #FF6;
  }

  100% {
    background-color: var(--primary-color);
  }
}

/* CSS Document */

/* ratios */

.ratio-square {
  position: relative;
}

.ratio-square:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.ratio-80 {
  position: relative;
}

.ratio-80:after {
  content: "";
  padding-bottom: 80%;
  display: block;
}

.ratio-60 {
  position: relative;
}

.ratio-60:after {
  content: "";
  padding-bottom: 60%;
  display: block;
}

.ratio-50 {
  position: relative;
}

.ratio-50:after {
  content: "";
  padding-bottom: 50%;
  display: block;
}

/* Padding */

.p-1 {
  padding: 0.125vw;
}

.p-2 {
  padding: 0.25vw;
}

.p-3 {
  padding: 0.5vw;
}

.p-4 {
  padding: 1vw;
}

.p-5 {
  padding: 2vw;
}

.p-6 {
  padding: 3vw;
}

.px-1 {
  padding-right: 0.125vw;
  padding-left: 0.125vw;
}

.px-2 {
  padding-right: 0.25vw;
  padding-left: 0.25vw;
}

.px-3 {
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}

.px-4 {
  padding-right: 1vw;
  padding-left: 1vw;
}

.px-5 {
  padding-right: 2vw;
  padding-left: 2vw;
}

.px-6 {
  padding-right: 3vw;
  padding-left: 3vw;
}

.py-1 {
  padding-top: 0.125vw;
  padding-bottom: 0.125vw;
}

.py-2 {
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
}

.py-3 {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.py-4 {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.py-5 {
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.py-6 {
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.pr-1 {
  padding-right: 0.125vw;
}

.pr-2 {
  padding-right: 0.25vw;
}

.pr-3 {
  padding-right: 0.5vw;
}

.pr-4 {
  padding-right: 1vw;
}

.pr-5 {
  padding-right: 2vw;
}

.pr-6 {
  padding-right: 3vw;
}

.pl-1 {
  padding-left: 0.125vw;
}

.pl-2 {
  padding-left: 0.25vw;
}

.pl-3 {
  padding-left: 0.5vw;
}

.pl-4 {
  padding-left: 1vw;
}

.pl-5 {
  padding-left: 2vw;
}

.pl-6 {
  padding-left: 3vw;
}

.pt-1 {
  padding-top: 0.125vw;
}

.pt-2 {
  padding-top: 0.25vw;
}

.pt-3 {
  padding-top: 0.5vw;
}

.pt-4 {
  padding-top: 1vw;
}

.pt-5 {
  padding-top: 2vw;
}

.pt-6 {
  padding-top: 3vw;
}

.pb-1 {
  padding-bottom: 0.125vw;
}

.pb-2 {
  padding-bottom: 0.25vw;
}

.pb-3 {
  padding-bottom: 0.5vw;
}

.pb-4 {
  padding-bottom: 1vw;
}

.pb-5 {
  padding-bottom: 2vw;
}

.pb-6 {
  padding-bottom: 3vw;
}

/* Margins */

.m-1 {
  margin: 0.125vw;
}

.m-2 {
  margin: 0.25vw;
}

.m-3 {
  margin: 0.5vw;
}

.m-4 {
  margin: 1vw;
}

.m-5 {
  margin: 2vw;
}

.m-6 {
  margin: 3vw;
}

.mx-1 {
  margin-right: 0.125vw;
  margin-left: 0.125vw;
}

.mx-2 {
  margin-right: 0.25vw;
  margin-left: 0.25vw;
}

.mx-3 {
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}

.mx-4 {
  margin-right: 1vw;
  margin-left: 1vw;
}

.mx-5 {
  margin-right: 2vw;
  margin-left: 2vw;
}

.mx-6 {
  margin-right: 3vw;
  margin-left: 3vw;
}

.my-1 {
  margin-top: 0.125vw;
  margin-bottom: 0.125vw;
}

.my-2 {
  margin-top: 0.25vw;
  margin-bottom: 0.25vw;
}

.my-3 {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.my-4 {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.my-5 {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.my-6 {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.mr-1 {
  margin-right: 0.125vw;
}

.mr-2 {
  margin-right: 0.25vw;
}

.mr-3 {
  margin-right: 0.5vw;
}

.mr-4 {
  margin-right: 1vw;
}

.mr-5 {
  margin-right: 2vw;
}

.mr-6 {
  margin-right: 3vw;
}

.ml-1 {
  margin-left: 0.125vw;
}

.ml-2 {
  margin-left: 0.25vw;
}

.ml-3 {
  margin-left: 0.5vw;
}

.ml-4 {
  margin-left: 1vw;
}

.ml-5 {
  margin-left: 2vw;
}

.ml-6 {
  margin-left: 3vw;
}

.mt-1 {
  margin-top: 0.125vw;
}

.mt-2 {
  margin-top: 0.25vw;
}

.mt-3 {
  margin-top: 0.5vw;
}

.mt-4 {
  margin-top: 1vw;
}

.mt-5 {
  margin-top: 2vw;
}

.mt-6 {
  margin-top: 3vw;
}

.mb-1 {
  margin-bottom: 0.125vw;
}

.mb-2 {
  margin-bottom: 0.25vw;
}

.mb-3 {
  margin-bottom: 0.5vw;
}

.mb-4 {
  margin-bottom: 1vw;
}

.mb-5 {
  margin-bottom: 2vw;
}

.mb-5 {
  margin-bottom: 3vw;
}

.m-auto {
  margin: auto;
}

.pull-right {
  margin-left: auto;
}

.pull-left {
  margin-right: auto;
}

.pull-center {
  margin-left: auto;
  margin-right: auto;
}

/*  Positions  */

.pos-fixed {
  position: fixed;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-static {
  position: static;
}

.pos-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.pos-cover {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  position: absolute;
  background-position: center;
  width: 100%;
  height: 100%;
}

.pos-fixed-cover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.pos-absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*  Displays  */

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-table {
  display: table;
}

.d-caption {
  display: table-caption;
}

.d-colgroup {
  display: table-column-group;
}

.d-thead {
  display: table-header-group;
}

.d-tfoot {
  display: table-footer-group;
}

.d-tbody {
  display: table-row-group;
}

.d-tb {
  display: table-cell;
}

.d-col {
  display: table-column;
}

.d-tr {
  display: table-row;
}

.d-initial {
  display: initial;
}

.hide-empty:empty {
  display: none;
}

/*  Flex  */

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.grow-3 {
  flex-grow: 3;
}

.grow-4 {
  flex-grow: 4;
}

.shrink-1 {
  flex-shrink: 1;
}

.shrink-2 {
  flex-shrink: 2;
}

.shrink-3 {
  flex-shrink: 3;
}

.shrink-4 {
  flex-shrink: 4;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

/*  Media Queries  */

@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .tablet-down-only {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .tablet-up-only {
    display: none !important;
  }
}

/*  Text  */

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.3em;
}

.center-text {
  text-align: center;
}

.no-hyphen {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

/*  Overflow  */

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-visible {
  overflow: visible;
}

/* Turning Stuff Off */

[hidden] {
  display: none !important;
}

[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

/* Width */

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.width-85 {
  width: 85%;
}

.width-80 {
  width: 80%;
}

.width-75 {
  width: 75%;
}

.width-70 {
  width: 70%;
}

.width-66 {
  width: 66%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.width-33 {
  width: 33%;
}

.width-30 {
  width: 30%;
}

.width-25 {
  width: 25%;
}

.width-20 {
  width: 20%;
}

.width-15 {
  width: 15%;
}

.width-12 {
  width: 12.5%;
}

.width-10 {
  width: 10%;
}

/* Height */

.height-100 {
  height: 100%;
}

/* Mouse */

.pointer {
  cursor: pointer;
}

.no-click {
  pointer-events: none;
}

/* Button */

.button {
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 3px;
}

/* Text */

.bold {
  font-weight: 700;
}

.book {
  font-weight: 400;
}

.line-125 {
  line-height: 1.25em;
}

.line-140 {
  line-height: 1.4em;
}

.line-150 {
  line-height: 1.5em;
}

.line-175 {
  line-height: 1.75em;
}

/* Opacity */

.opacity-full {
  opacity: 1;
}

.opacity-none {
  opacity: 0;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-5 {
  opacity: 0.5;
}

/* Border */

.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 0.2em;
}

.loader-bar {
  height: 5px;
  width: 100%;
  position: relative;
}

.loader-bar__streak {
  position: relative;
  height: 100%;
  -webkit-animation-name: loader-animation;
  animation-name: loader-animation;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.visitor-image--thumb {
  border: 2px solid rgba(255, 255, 255, 0.65);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
  width: 90px;
  height: 90px;
  background-size: cover;
  background-position: center;
}

@media (min-width: 1024px) {
  .visitor-image--thumb:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 767px) {
  .visitor-image--thumb {
    width: 50px;
    height: 50px;
  }
}

/**

    Forms

 */

.landing .form-group {
  padding: 1vw;
  width: 100%;
}

.landing .form-label {
  width: 100%;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.landing .form-element {
  width: 100%;
  padding: 1.5vw;
  margin: 0.5vw 0 1vw;
  line-height: 1.25;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  font-size: 2vw;
  color: white;
  font-family: var(--accent-font);
  letter-spacing: 2px;
}

.landing .form-element::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.landing .form-element::-moz-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.landing .form-element:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.landing .form-element::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.landing .form-element::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.landing .form-error {
  font-size: 0.8em;
  color: red;
  font-weight: normal;
  letter-spacing: 2px;
}

.landing .form-submit {
  width: 100%;
  padding: 1.5vw;
  margin: 0.5vw 0 1vw;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: white;
  font-family: var(--accent-font);
  transition: background-color 0.2s;
  border-radius: 3px;
  font-size: 2vw;
  cursor: pointer;
  letter-spacing: 2px;
}

.landing [required] {
  scroll-margin-top: 10rem;
}

/**
    Fade
 */

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

/**
    slide
**/

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s;
}

.slide-enter {
  transform: translateX(-100%);
}

.slide-leave-to {
  transform: translateX(-100%);
}

/**
    Slide Down
**/

.slide-down-enter-active,
.slide-down-leave-active {
  transition: transform 0.3s;
}

.slide-down-enter {
  transform: translateY(-100%);
}

.slide-down-leave-to {
  transform: translateY(-100%);
}

/**
    Slide Open
**/

.open-enter-active,
.open-leave-active {
  transition: max-height 0.5s;
  overflow: hidden;
}

.open-enter-to,
.open-leave {
  max-height: 200vh;
  overflow: hidden;
}

.open-leave-to,
.open-enter {
  max-height: 0;
  overflow: hidden;
}

body.landing {
  background-color: var(--primary-color);
  color: white;
  height: 100%;
  width: 100%;
}

body.landing h1 {
  font-family: "teko";
  letter-spacing: 1.5vw;
  font-size: 16vw;
  line-height: 0.7em;
}

.splash-logo-wrap {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 0.4;
  position: fixed;
  z-index: -1;
}

.splash-logo {
  z-index: 2;
}

.register-button {
  top: 1vw;
  right: 1vw;
  font-family: var(--accent-font);
  background-color: tomato;
  padding: 0.75vw 1vw 0.5vw 1vw;
}

.movie-display {
  padding: 8vw 2.5vw 1.5vw;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.year-wrap {
  padding: 1vw;
}

.year-wrap__content {
  border: 1px solid #ABABAB;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: relative;
  background-color: var(--dark-color);
  padding: 2vw;
  font-family: var(--accent-font);
  border-bottom: 1px #0A0A0A solid;
  border-top: 1px solid #252525;
  color: var(--highlight-color);
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.year-wrap__seen {
  color: var(--off-white);
  font-size: 1.1vw;
  letter-spacing: 1px;
}

.year-wrap__seen-number {
  color: var(--highlight-color);
  font-size: 2vw;
}

.movie-wrap {
  width: 25%;
  padding: 1vw;
}

.movie {
  width: 100%;
  padding: 0.9vw 1vw 0.9vw 3vw;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
  display: flex;
  color: white;
  position: relative;
  transition: background-color 0.4s;
  overflow: hidden;
}

@media (max-width: 767px) {
  .movie {
    width: 100%;
    padding: 0 3vw 0 12vw;
    box-shadow: none;
  }
}

.movie .movie__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;
  font-family: var(--secondary-font);
  letter-spacing: 1px;
  padding: 0.5vw 0;
  font-size: 1.2vw;
  cursor: pointer;
}

@media (max-width: 767px) {
  .movie .movie__title {
    font-size: 5vw;
    padding: 5.8vw 0;
  }
}

.movie .movie__link {
  color: #FB9380;
  position: absolute;
  font-size: 1.4vw;
  padding: 0.5vw;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .movie .movie__link {
    padding: 2vw;
    font-size: 5.4vw;
  }
}

.movie:after {
  content: attr(data-rank);
  color: rgba(0, 0, 0, 0.09);
  font-family: var(--accent-font);
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  padding: 0;
  right: 0;
  font-size: 7vw;
  margin-top: 0.55vw;
}

@media (max-width: 767px) {
  .movie:after {
    margin-top: 2vw;
    font-size: 27vw;
    right: 0.5vw;
  }
}

.movie.active {
  background-color: #f4f4f4;
}

.movie.active .movie__title {
  color: #525151;
}

.movie.active .movie__link {
  color: white;
}

.movie.flash {
  -webkit-animation: flash 1.5s ease-out;
          animation: flash 1.5s ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.hover-nav {
  pointer-events: initial;
  position: fixed;
  width: 4%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: initial;
}

.hover-nav.right-hover-nav {
  left: inherit;
  right: 0;
}

.hover-nav .hover-arrow {
  border-radius: 50%;
  height: 4vw;
  width: 4vw;
  background-color: var(--dark-grey);
  opacity: 0;
  transition: opacity 0.4s;
  text-align: center;
  color: white;
  cursor: pointer;
  -webkit-animation: ripple 1s ease-in infinite;
          animation: ripple 1s ease-in infinite;
  font-size: 3vw;
  left: 75%;
}

.hover-nav.right-hover-nav .hover-arrow {
  left: 25%;
}

.hover-nav:hover .hover-arrow {
  opacity: 1;
}

.nav {
  top: 0;
  z-index: 4;
  padding: 1.4vw 2vw;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav.closed {
  transform: translateY(-100%);
}

.nav__item {
  position: relative;
  border-radius: 2px;
  border: 1px solid #e0e2e5;
  padding: 1vw;
  margin: 0 0.5vw;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  max-width: 30%;
}

.nav__icon {
  color: var(--primary-color);
  font-size: 1.5vw;
}

.nav__input {
  outline: none;
  border: 0;
  color: #9E9E9E;
  padding: 0.5vw;
  position: relative;
  width: 100%;
  background: transparent;
}

.nav__input option {
  background-color: tomato;
  color: white;
}

.total-movies {
  color: var(--highlight-color);
  background-color: var(--dark-color);
  font-family: var(--accent-font);
  font-size: 1.5em;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.recent-movies {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--highlight-color);
  padding: 2vw 6vw 2vw 6vw;
  z-index: 501;
}

.recent-movies__content {
  overflow-y: auto;
  max-height: 90vh;
}

.recent-movies__content::-webkit-scrollbar {
  display: none;
}

.recent-movies__close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.5);
}

.recent-movies__item {
  width: 20%;
  padding: 0.5vw;
  z-index: 2;
}

.recent-movies__item .margin {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: var(--secondary-font);
  letter-spacing: 1px;
  transition: all 0.3s;
  background-color: #ffb933;
  text-align: left;
  color: white;
  font-size: 1vw;
  padding: 1vw;
}

.recent-movies__item span {
  color: #F7FDA4;
  font-family: var(--accent-font);
  font-size: 1.3vw;
  margin-right: 0.5vw;
}

.recent-headline {
  font-family: var(--accent-font);
  color: #ffb933;
  width: 100%;
  text-align: left;
  font-size: 4vw;
  padding-bottom: 0.5vw;
}

.autocomplete {
  top: 100%;
  left: 0;
  background-color: white;
  padding: 1vw;
  border: 1px solid #e0e2e5;
  border-top: 0;
  color: var(--primary-color);
  font-family: var(--accent-font);
}

.autocomplete__item {
  margin-bottom: 0.5vw;
  font-size: 1.2em;
  cursor: pointer;
}

.autocomplete__item.selected {
  color: gold;
}

body {
  background-color: var(--near-white);
  font-size: 1.2vw;
  font-family: var(--primary-font);
}

