
.movie-display {
    padding: 7.8rem 2.5rem 1.5rem ;

    @include mobile {
        padding: 6.4rem .1rem .75rem;
    }
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
}

.year-wrap {
    padding: .75rem;
}

.year-wrap__content {
    border: 1px solid #ABABAB;
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    width: 100%;
    position: relative;
    background-color: var(--dark-color);
    padding: 1.8rem;
    font-family: var(--accent-font);
    border-bottom: 1px #0A0A0A solid;
    border-top: 1px solid #252525;
    color: var(--highlight-color);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

    @include mobile {
        padding: 1.3rem;
    }
}

.year-wrap__seen {
    color: var(--off-white);
    font-size: 1rem;
    letter-spacing: 1px;
}

.year-wrap__seen-number {
    color: var(--highlight-color);
    font-size: 2rem;
}

.year-wrap__jump-link {
    margin-right: auto;
    margin-left: 1rem;
    font-size: 1.1rem;
    display: flex;
    color: var(--off-white);
}

.movie-wrap {
    width: 25%;
    padding: .8rem;

    @include mobile {
        width: 100%;
        padding: .5rem;
    }
}

.movie {
    width: 100%;
    padding: 1.2rem .9rem 1.2rem 2.8rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    background-color: var(--primary-color);
    display: flex;
    color: white;
    position: relative;
    transition: background-color .4s;
    overflow:hidden;
    align-items: center;

    &.placeholder {
        box-shadow: none;
    }

    @include mobile {
        box-shadow: none;
        padding: 1.2rem .9rem 1.2rem 3.4rem;
    }

    .movie__title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        z-index: 2;
        font-family: var(--secondary-font);
        letter-spacing: 1px;
        padding: .5rem 0;
        font-size: 1.2rem;
        cursor: pointer;

        @include mobile{
        }
    }

    .movie__link {
        color: #FB9380;
        position: absolute;
        font-size: 1.2rem;
        padding: .5rem;
        left: 0;
        background-color: rgba(0,0,0,.1);
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;

        @include mobile {
            padding: .5rem .75rem;
        }
    }

    &:after{
        content: attr( data-rank );
        color: rgba(0, 0, 0, 0.09);
        font-family: var(--accent-font);
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        padding: 0;
        right: 0;
        font-size: 7rem;
        margin-top: .5rem;

        @include mobile{
        }
    }

    .movie-list__delete {
        color: rgba(0,0,0,.5);
        font-size: 1.5rem;
        z-index: 6;
    }

}

.movie-wrap:not(.active) .flash {
    animation: unseenflash 1.5s ease-out;
    animation-iteration-count: 1;
}

.movie-wrap.active .flash {
    animation: seenflash 1.5s ease-out;
    animation-iteration-count: 1;
}



.movie-wrap.active .movie {
    background-color: rgb(244,244,244);

    .movie__title {
        color: #525151;
    }

    .movie__link{
        color: white;
    }
}


.movie-list.unseen .movie-wrap.active {
    display: none;
}

.movie-list.seen .movie-wrap:not( .active ) {
    display: none;
}

.hover-nav {
    pointer-events: initial;
    position: fixed;
    width: 2.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    z-index:3;
    display:initial;

    @include mobile {
        display: none;
    }

    &.right-hover-nav {
        left:inherit;
        right:0;
    }

    .hover-arrow {
        border-radius: 50%;
        height: 4vw;
        width: 4vw;
        background-color: var(--dark-grey);
        opacity: 0;
        transition: opacity .4s;
        text-align:center;
        color: white;
        cursor:pointer;
        animation: ripple 1s ease-in infinite;
        font-size: 3vw;
        left: 50%;
    }

    &.right-hover-nav .hover-arrow {
            left: 50%;
    }


    &:hover .hover-arrow {
        opacity: 1;
    }
}
