
.movie-display {
    padding: 7.8rem 2.5rem 1.5rem ;

    @include mobile {
        padding: 6.4rem .1rem .75rem;
    }
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
}

.year-wrap {
    padding: .75rem;
}

.year-wrap__content {
    border: 1px solid #ABABAB;
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    width: 100%;
    position: relative;
    background-color: var(--dark-color);
    padding: 1.8rem;
    font-family: var(--accent-font);
    border-bottom: 1px #0A0A0A solid;
    border-top: 1px solid #252525;
    color: var(--highlight-color);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

    @include mobile {
        padding: 1.3rem;
    }
}

.year-wrap__seen {
    color: var(--off-white);
    font-size: 1rem;
    letter-spacing: 1px;
}

.year-wrap__seen-number {
    color: var(--highlight-color);
    font-size: 2rem;
}

.year-wrap__jump-link {
    margin-right: auto;
    margin-left: 1rem;
    font-size: 1.1rem;
    display: flex;
    color: var(--off-white);
}


.hover-nav {
    pointer-events: initial;
    position: fixed;
    width: 2.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    z-index:3;
    display:initial;

    @include mobile {
        display: none;
    }

    &.right-hover-nav {
        left:inherit;
        right:0;
    }

    .hover-arrow {
        border-radius: 50%;
        height: 4vw;
        width: 4vw;
        background-color: var(--dark-grey);
        opacity: 0;
        transition: opacity .4s;
        text-align:center;
        color: white;
        cursor:pointer;
        animation: ripple 1s ease-in infinite;
        font-size: 3vw;
        left: 50%;
    }

    &.right-hover-nav .hover-arrow {
            left: 50%;
    }


    &:hover .hover-arrow {
        opacity: 1;
    }
}
