:root {
	--dark-text: #282828;
	--near-white: rgb(251,251,251);
    --light-text: #d4d4d4;
    --light-grey: #767676;
    --mid-grey: #272727;
    --dark-grey: #0e0e0e;
    --primary-color: tomato;
    --primary-font: "Droid Serif", helvetica, arial, sans-serif;
    --secondary-font: "Oswald", impact, arial, sans-serif;
    --accent-font: "Teko", helvetica, sans-serif;
    --success-color: #38b383;
    --gold: #ffec02;
    --highlight-color : #FFA700;
    --dark-color: #333333;
    --off-white : #ADADAD;
    --light-yellow : #ffeb5b;
}
